#b1
{
   border-width:8px;
   border-style:inset;
   background-color:grey;
   border-radius:20px;
    
}
#b2
{
border-width:1px;
background-color:slategrey;
text-align:center;
border-radius:20px;
    
}

#image{
width:100%;
height:300;

}

#btn{
padding:0;
height:30px;
width:50px;
top:140;
right:0;
position:absolute;
border-radius:50%;
border-style:solid;
}
#btn:hover{
background-color:#00ff99;
}
#btnn{
padding:0;
height:30px;
width:50px;
top:140;
left:8;
border-radius:50%;
border-style:solid;
}
#btnn:hover{
background-color:#00ff99;
}
#text
{
border-radius:20px;
width:80%;
height:10%

}
#buttonn
{
border-radius:20px;
color:black;
}
#todolist{
background-color:darkslategrey;
border-style:solid;
border-radius:20px;
height:60%;
width:60%;
margin-top:5%;
margin-left:35%;

text-align:center;

}
#liste{
    
    background-color:lightgrey;
    

text-align: left;
}
#liste:hover{
    background-color:teal;
}
#imagee{
width:10%;
height:100;
border-style:solid;
border-radius:70%;

}
#div2{
    
 align-items: left;
  
}

.lii{
list-style: none;   
background-color: azure;
text-align: center;

}
.lii:hover{
    background-color: grey;
}

.through{
text-decoration: line-through;
color:white;
background-color: grey;

}

.buttonX:hover{
background-color: red;
}
.destroy{
    display: none;
}





